@charset "utf-8" ;

$bodyBg : #f5f5f5 ;
$contentBg:#f5f5f5;

// main theme color
$mtc : #ffd924 ;
// font color
// main font color
$mfc : #333;
// sub font color
$sfc : #b0b0b0 ;
$sfc : #dadada ;
$sfc : #656e73 ;
// default background color
$dbc : #eee ;

$success : #13ce66 ;
$warning : #f7ba2a ;
$error : #ff4949 ;
$info : #50bfff ;


$username : #262626 ;
// border-color
$brc : #e6e6e6 ;
$titc: #ff7910;
// my-style cover
// $csfc : #656e73;
// $csfc : #dadada;



